@tailwind base;
@tailwind components;
@tailwind utilities;

.push{
    animation: pushup .2s ease-in ;
}

@keyframes pushup {
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(70%);
        
    }
    100%{
        transform: scale(100%);

    }
}